<!DOCTYPE HTML>
<html lang="en" ng-app="app">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Stylesheets. -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles.css">

    <!-- Third party libraries. -->
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="/bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>

    <!-- App scripts.-->
    <script src="js/app.js"></script>
    <script src="js/tab-register.js"></script>
    <script src="js/tab-enrollment.js"></script>

</head>
<body>

<div class="app-container">

    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#student">Cadastro de Aluno</a></li>
        <li><a data-toggle="tab" href="#enrollment">Pre Inscrição</a></li>
    </ul>

    <div class="form-container">

        <div class="tab-content">
            <!-- Register tab.-->
            <div id="student" class="tab-pane fade in active" ng-controller="RegisterController">
                <uib-alert type="danger" dismiss-on-timeout="10000" ng-if="errorMessage" close="closeAlert()">{{errorMessage}}</uib-alert>
                <uib-alert type="success" dismiss-on-timeout="10000" ng-if="successMessage" close="closeAlert()">{{successMessage}}</uib-alert>
                
                <form name="registerForm">
                    <div class="form-group">
                        <label for="name">Nome:</label>
                        <input type="text" class="form-control" id="name" ng-model="name" required>
                    </div>
                    
                    <div class="form-group">
                        <label for="address">Endereço:</label>
                        <input type="text" class="form-control" id="address" ng-model="address" required>
                    </div>

                    <div class="form-group">
                        <label for="genderSelect">Sexo:</label>
                        <select id="genderSelect" class="form-control dropdown-select" ng-model="genderSelect">
                            <option value="NA">Selecione</option>
                            <option value="M">Masculino</option>
                            <option value="F">Feminino</option>
                        </select>
                    </div>
    
                    <button type="submit" class="btn btn-primary confirm-button" ng-disabled="registerForm.$invalid || genderSelect === 'NA' || isRegistering" ng-click="registerStudent()">Cadastrar</button>
                    <div class="clearfix"></div>
                </form>
            </div>

            <!-- Enrollment Tab. -->
            <div id="enrollment" class="tab-pane fade" ng-controller="EnrollmentController">
                <uib-alert type="danger" dismiss-on-timeout="10000" ng-if="errorMessage" close="closeAlert()">{{errorMessage}}</uib-alert>
                <uib-alert type="success" dismiss-on-timeout="10000" ng-if="successMessage" close="closeAlert()">{{successMessage}}</uib-alert>
                
                <div class="form-group">
                    <label class="radio-inline"><input type="radio" name="optradio" value="enrollmentId" ng-model="searchType" ng-click="clearSearch()">Matrícula</label>
                    <label class="radio-inline"><input type="radio" name="optradio" value="name" ng-model="searchType" ng-click="clearSearch()">Nome</label>
                </div>

                <div class="input-group">
                    <input type="text" id="search" class="form-control" ng-model="searchString">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" ng-click="search()" ng-disabled="isSearching">Consultar</button>
                    </span>
                </div>

                <div class="form-group margin-top-15">
                    <select multiple class="form-control multiple-select">
                        <option ng-repeat="option in searchResults"
                                ng-click="onStudentSelected(option.matriculaaluno)">
                            {{option.nomealuno}} ({{option.matriculaaluno}})
                        </option>
                    </select>
                </div>

                <!-- Current disciplines. -->
                <div ng-if="disciplines">
                    <div class="form-group margin-top-15">
                        <div class="empty-discipline-text" ng-if="disciplines.length == 0">
                            Este aluno não está inscrito em nenhuma disciplina
                        </div>

                        <label for="currentDisciplines" ng-if="disciplines.length > 0">
                            Este aluno está inscrito nas seguintes disciplinas:
                        </label>

                        <table class="table table-striped" id="currentDisciplines" ng-if="disciplines.length > 0">
                            <thead>
                            <tr>
                                <th>Disciplina</th>
                                <th>Turma</th>
                                <th>Carga Horária</th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="discipline in disciplines">
                                    <td>{{discipline.nomedisciplina}}</td>
                                    <td>{{discipline.idturma}}</td>
                                    <td>{{discipline.ch_disciplina}}</td>
                                </tr>
                                <tr>
                                    <td><span class="bold-text">Carga horária total:</span></td>
                                    <td></td>
                                    <td><span>{{totalHours}}</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <!-- Add discipline. -->
                <div ng-if="disciplines">
                    <h3 class="headline margin-top-15">Adicionar Disciplina</h3>

                    <div class="form-group margin-top-15">
                        <label for="disciplineSelect">Disciplina:</label>
                        <select id="disciplineSelect" class="form-control"
                                ng-options="discipline.nomedisciplina for discipline in pendingDisciplines"
                                ng-model="selectedDiscipline.discipline"
                                ng-change="onPendingDisciplineSelected(selectedDiscipline)">
                            <option value="" disabled selected hidden>Selecione</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="classSelect">Turma:</label>
                        <select id="classSelect" class="form-control"
                                ng-options="class.idturma for class in classes"
                                ng-disabled="!selectedDiscipline.discipline"
                                ng-model="selectedClass.class">
                            <option value="" disabled selected hidden>Selecione</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="timeField">Horário: </label>
                        <span id="timeField">{{selectedClass.class.horainicio}} - {{selectedClass.class.horafim}}</span>
                    </div>

                    <div class="form-group">
                        <label for="roomField">Sala: </label>
                        <span id="roomField">{{selectedClass.class.sala}}</span>
                    </div
                    
                    <div class="form-group">
                        <label for="roomField">Inscritos: </label>
                        <span id="roomField">{{selectedClass.class.numeroinscritos}}</span>
                    </div>

                    <button class="btn btn-primary margin-top-15" ng-click="addDiscipline()"
                            ng-disabled="!selectedClass.class || !selectedDiscipline.discipline">
                        Adicionar
                    </button>
                </div>

            </div>

        </div>

    </div>

</div>

</body>

</html>