.app-container {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 600px; }
  .app-container .dropdown-select {
    max-width: 140px; }
  .app-container .confirm-button {
    width: 140px;
    float: right; }
  .app-container .multiple-select {
    min-height: 140px; }
  .app-container .headline {
    border-bottom: 1px solid darkgray;
    padding-bottom: 5px; }
  .app-container .empty-discipline-text {
    padding: 15px;
    font-size: 16px;
    font-weight: bold;
    text-align: center; }

.form-container {
  border-bottom: 1px solid lightgrey;
  border-left: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
  padding: 25px; }

.margin-top-15 {
  margin-top: 15px !important; }

.margin-top-30 {
  margin-top: 30px !important; }

.bold-text {
  font-weight: bold; }
